<%- include('partials/header.ejs'); -%>

<div class="container">
  <!-- Do now FORM ////////////////////////////////////////////////////////////////////////////// -->
  <section class="donow">
    <% if (alert) { if (alert === "added" || alert === "done") { %>
    <p class="alert alert-green" id="alertMessage"><%= alert %></p>
    <%} else if (alert === "edited") { %>
    <p class="alert alert-orange" id="alertMessage"><%= alert %></p>
    <% }} else {%>
    <p class="alert" style="color: transparent">invisible magic thing</p>
    <% } %>
    <h3>DO THIS</h3>
    <form class="add-form" action="add" method="post">
      <input
        name="newItem"
        type="text"
        class="input"
        placeholder="Do what?"
        autocomplete="off"
      />
      <button type="submit" class="add-btn" name="list" value>+</button>
    </form>
    <!-- SINGLE ITEM LOOP //////////////////////////////////////////////////////////////////////// -->
    <% for(let item of listItems){%>
    <form action="/delete" class="items-form" method="post">
      <div class="items-container">
        <p class="title" id="title<%=item.id%>"><%= item.title %></p>
        <!-- HIDEN SWITCH HANDLER -->
        <button
          type="button"
          class="edit-btn"
          id="edit<%=item.id%>"
          onclick="handler('<%=item.id%>')"
        >
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <input type="hidden" name="deleteItemId" value="<%=item.id%>" />
        <button type="submit" class="delete-btn" id="delete<%=item.id%>">
          <span class="material-symbols-outlined"> done </span>
        </button>
      </div>
    </form>
    <!-- EDIT ROUTE HIDDEN ELEMENTS -->
    <form class="edit" id="edit-form" action="/edit" method="post">
      <input type="hidden" name="updatedItemId" value="<%= item.id %>" />
      <input
        id="input<%=item.id%>"
        class="title"
        type="text"
        name="updatedItemTitle"
        value="<%= item.title %>"
        autocomplete="off"
        autofocus="true"
        hidden="true"
      />
      <button id="done<%=item.id%>" class="done-btn" type="submit" hidden>
        <span class="material-symbols-outlined"> add_circle </span>
      </button>
    </form>
    <% } %>
  </section>

  <form action="/userSettings" method="post" class="bag-form">
    <input type="hidden" name="settings" value="<%= settingsState %>" />
    <button class="open-bag" type="submit"></button>
  </form>

  <!--  BAG -->
  <% if (settingsState) { %>
  <section class="bag" id="bag-section">
    <% if (bagAlert) { if (bagAlert === "added" || bagAlert === "done" ||
    bagAlert === "moved") { %>
    <p class="alert alert-green" id="bagMessage"><%= bagAlert %></p>
    <%} else if (bagAlert === "edited") { %>
    <p class="alert alert-orange" id="bagMessage"><%= bagAlert %></p>
    <% }} else {%>
    <p class="alert" style="color: transparent">invisible magic thing</p>
    <% } %>
    <h3>YOUR BAG</h3>

    <!-- Do later FORM ////////////////////////////////////////////////////////////////////////////// -->
    <form class="add-form" action="add" method="post">
      <input
        name="newBagItem"
        type="text"
        class="input"
        placeholder="Save for later"
        autocomplete="off"
        autofocus="true"
      />
      <button type="submit" class="add-btn" name="list" value>+</button>
    </form>
    <!-- SINGLE ITEM LOOP //////////////////////////////////////////////////////////////////////// -->

    <% for(let item of bagItems){%>
    <form action="/delete" class="items-form" id="delete-form" method="post">
      <div class="items-container">
        <p class="title" id="bag-title<%=item.id%>"><%= item.title %></p>
        <!-- HIDEN SWITCH HANDLER -->
        <div class="left-btns">
          <button
            type="button"
            onclick="leftMoveRoute('<%=item.id%>')"
            class="left-btn bag-left-btn"
            id="bag-left<%=item.id%>"
          >
            <span class="material-symbols-outlined"> arrow_back </span>
          </button>

          <button
            type="button"
            class="edit-btn bag-edit-btn"
            id="bag-edit<%=item.id%>"
            onclick="bagHandler('<%=item.id%>')"
          >
            <span class="material-symbols-outlined"> edit </span>
          </button>
        </div>

        <input type="hidden" name="deleteBagItemId" value="<%=item.id%>" />
        <button class="delete-btn" id="bag-delete<%=item.id%>">
          <span class="material-symbols-outlined"> done </span>
        </button>
      </div>
    </form>

    <!-- EDIT ROUTE HIDDEN ELEMENTS -->
    <form class="edit" id="edit-form-bag" action="/edit" method="post">
      <input type="hidden" name="updatedBagItemId" value="<%= item.id %>" />
      <input
        id="bag-input<%=item.id%>"
        class="title edit-title"
        type="text"
        name="updatedBagItemTitle"
        value="<%= item.title %>"
        autocomplete="off"
        autofocus="true"
        hidden="true"
      />
      <button id="bag-done<%=item.id%>" class="done-btn" type="submit" hidden>
        <span class="material-symbols-outlined"> add_circle </span>
      </button>
    </form>

    <% } %>
  </section>
  <% } %>
</div>

<script>
  // EDIT SWITCHES

  function hide(id) {
    document.getElementById(id).setAttribute("hidden", true);
  }
  function show(id) {
    document.getElementById(id).removeAttribute("hidden");
  }

  function handler(id) {
    hide("title" + id);
    hide("edit" + id);
    hide("delete" + id);

    show("done" + id);
    show("input" + id);
  }

  function bagHandler(id) {
    hide("bag-title" + id);
    hide("bag-edit" + id);
    hide("bag-delete" + id);
    hide("bag-left" + id);

    show("bag-done" + id);
    show("bag-input" + id);
  }

  // ALERTS
  const alertMessage = document.getElementById("alertMessage");
  if (alertMessage) {
    if (alertMessage.innerText.trim() !== "") {
      setTimeout(() => {
        alertMessage.style.color = "transparent";
        alertMessage.style.backgroundColor = "transparent";
      }, 1000);
    }
  }

  const bagAlertMessage = document.getElementById("bagMessage");
  if (bagAlertMessage.innerText.trim() !== "") {
    setTimeout(() => {
      bagAlertMessage.style.color = "transparent";
      bagAlertMessage.style.backgroundColor = "transparent";
    }, 1000);
  }

  // LEFT MOVE
  function leftMoveRoute(itemId) {
    // Update the action and the value of the hidden input
    document.getElementById("delete-form").action = "/move";
    document.getElementById("delete-form").elements["deleteBagItemId"].value =
      itemId;

    // Submit the form
    document.getElementById("delete-form").submit();
  }
</script>
<%- include('partials/footer.ejs'); -%>
