<%- include('partials/header.ejs'); -%>

<div class="container">
  <!-- Do now FORM ////////////////////////////////////////////////////////////////////////////// -->
  <section class="donow">
    <p class="alert">added</p>
    <h3>DO THIS</h3>
    <form class="add-form" action="add" method="post">
      <input
        name="newItem"
        type="text"
        class="input"
        placeholder="Do what?"
        autocomplete="off"
        autofocus="true"
      />
      <button type="submit" class="add-btn" name="list" value>+</button>
    </form>
    <!-- SINGLE ITEM LOOP //////////////////////////////////////////////////////////////////////// -->
    <% for(let item of listItems){%>
    <form action="/delete" class="items-form" method="post">
      <div class="items-container">
        <div class="item">
          <p class="title" id="title<%=item.id%>"><%= item.title %></p>
          <!-- HIDEN SWITCH HANDLER -->
          <button
            type="button"
            class="edit-btn"
            id="edit<%=item.id%>"
            onclick="handler('<%=item.id%>')"
          >
            <span class="material-symbols-outlined"> edit </span>
          </button>

          <button class="delete-btn" id="delete<%=item.id%>">
            <span class="material-symbols-outlined"> done </span>
          </button>
          <!-- EDIT ROUTE HIDDEN ELEMENTS -->
          <form class="edit" action="/edit" method="post">
            <input type="hidden" name="updatedItemId" value="<%= item.id %>" />
            <input
              id="input<%=item.id%>"
              class="title"
              type="text"
              name="updatedItemTitle"
              value="<%= item.title %>"
              autocomplete="off"
              autofocus="true"
              hidden="true"
            />
            <button id="done<%=item.id%>" class="done-btn" type="submit" hidden>
              <span class="material-symbols-outlined"> add_circle </span>
            </button>
          </form>
        </div>
      </div>
    </form>
    <% } %>
    <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
  </section>

  <button class="open-bag"></button>

  <!--  Bag -->
  <section class="bag" id="bag-section">
    <p class="alert">added</p>
    <h3>YOUR BAG</h3>
    <form class="add-form" action="add" method="post">
      <input
        name="newItem"
        type="text"
        class="input"
        placeholder="Save for later"
        autocomplete="off"
        autofocus="true"
      />
      <button type="submit" class="add-btn" name="list" value>+</button>
    </form>

    <div class="items-container items-container-bag">
      <form action="/delete" class="items-form" method="post"></form>
    </div>
  </section>
</div>

<script>
  // BAG TOGGLE
  document.querySelector(".open-bag").addEventListener("click", () => {
    document.querySelector("#bag-section").classList.toggle("bag");
    document.querySelector(".open-bag").classList.toggle("opened-bag");
  });

  // EDIT SWITCH

  function handler(id) {
    document.getElementById("title" + id).setAttribute("hidden", true);
    document.getElementById("edit" + id).setAttribute("hidden", true);
    document.getElementById("delete" + id).setAttribute("hidden", true);

    document.getElementById("done" + id).removeAttribute("hidden");
    document.getElementById("input" + id).removeAttribute("hidden");
  }
</script>
<%- include('partials/footer.ejs'); -%>
