<%- include('partials/header.ejs'); -%>

<div class="container">
  <!-- Do now FORM ////////////////////////////////////////////////////////////////////////////// -->
  <section class="donow">
    <% if (alert) { %>
    <p class="alert" id="alertMessage"><%= alert %></p>
    <% } %>
    <h3>DO THIS</h3>
    <form class="add-form" action="add" method="post">
      <input
        name="newItem"
        type="text"
        class="input"
        placeholder="Do what?"
        autocomplete="off"
      />
      <button type="submit" class="add-btn" name="list" value>+</button>
    </form>
    <!-- SINGLE ITEM LOOP //////////////////////////////////////////////////////////////////////// -->
    <% for(let item of listItems){%>
    <form action="/delete" class="items-form" method="post">
      <div class="items-container">
        <p class="title" id="title<%=item.id%>"><%= item.title %></p>
        <!-- HIDEN SWITCH HANDLER -->
        <button
          type="button"
          class="edit-btn"
          id="edit<%=item.id%>"
          onclick="handler('<%=item.id%>')"
        >
          <span class="material-symbols-outlined"> edit </span>
        </button>
        <input type="hidden" name="deleteItemId" value="<%=item.id%>" />
        <button type="submit" class="delete-btn" id="delete<%=item.id%>">
          <span class="material-symbols-outlined"> done </span>
        </button>
      </div>
    </form>
    <!-- EDIT ROUTE HIDDEN ELEMENTS -->
    <form class="edit" id="edit-form" action="/edit" method="post">
      <input type="hidden" name="updatedItemId" value="<%= item.id %>" />
      <input
        id="input<%=item.id%>"
        class="title"
        type="text"
        name="updatedItemTitle"
        value="<%= item.title %>"
        autocomplete="off"
        autofocus="true"
        hidden="true"
      />
      <button id="done<%=item.id%>" class="done-btn" type="submit" hidden>
        <span class="material-symbols-outlined"> add_circle </span>
      </button>
    </form>
    <% } %>
  </section>

  <form action="/userSettings" method="post" class="bag-form">
    <input type="hidden" name="settings" value="<%= settingsState %>" />
    <button class="open-bag" type="submit"></button>
  </form>

  <!--  BAG -->
  <% if (settingsState) { %>
  <section class="bag" id="bag-section">
    <% if (bagAlert) { %>
    <p class="alert" id="bagMessage"><%= bagAlert %></p>
    <% } %>
    <h3>YOUR BAG</h3>
    <!-- Do later FORM ////////////////////////////////////////////////////////////////////////////// -->
    <form class="add-form" action="add" method="post">
      <input
        name="newBagItem"
        type="text"
        class="input"
        placeholder="Save for later"
        autocomplete="off"
        autofocus="true"
      />
      <button type="submit" class="add-btn" name="list" value>+</button>
    </form>
    <!-- SINGLE ITEM LOOP //////////////////////////////////////////////////////////////////////// -->

    <% for(let item of bagItems){%>
    <form action="/delete" class="items-form" method="post">
      <div class="items-container">
        <p class="title" id="bag-title<%=item.id%>"><%= item.title %></p>
        <!-- HIDEN SWITCH HANDLER -->
        <button type="button" class="left-btn" id="bag-left<%=item.id%>">
          <span class="material-symbols-outlined"> arrow_back </span>
        </button>

        <button
          type="button"
          class="edit-btn"
          id="bag-edit<%=item.id%>"
          onclick="bagHandler('<%=item.id%>')"
        >
          <span class="material-symbols-outlined"> edit </span>
        </button>

        <input type="hidden" name="deleteBagItemId" value="<%=item.id%>" />
        <button class="delete-btn" id="bag-delete<%=item.id%>">
          <span class="material-symbols-outlined"> done </span>
        </button>
      </div>
    </form>
    <!-- EDIT ROUTE HIDDEN ELEMENTS -->
    <form class="edit" id="edit-form-bag" action="/edit" method="post">
      <input type="hidden" name="updatedBagItemId" value="<%= item.id %>" />
      <input
        id="bag-input<%=item.id%>"
        class="title edit-title"
        type="text"
        name="updatedBagItemTitle"
        value="<%= item.title %>"
        autocomplete="off"
        autofocus="true"
        hidden="true"
      />
      <button id="bag-done<%=item.id%>" class="done-btn" type="submit" hidden>
        <span class="material-symbols-outlined"> add_circle </span>
      </button>
    </form>

    <% } %>
  </section>
  <% } %>
</div>

<script>
  // EDIT SWITCHES

  function handler(id) {
    document.getElementById("title" + id).setAttribute("hidden", true);
    document.getElementById("edit" + id).setAttribute("hidden", true);
    document.getElementById("delete" + id).setAttribute("hidden", true);

    document.getElementById("done" + id).removeAttribute("hidden");
    document.getElementById("input" + id).removeAttribute("hidden");
  }

  function bagHandler(id) {
    document.getElementById("bag-title" + id).setAttribute("hidden", true);
    document.getElementById("bag-edit" + id).setAttribute("hidden", true);
    document.getElementById("bag-delete" + id).setAttribute("hidden", true);
    document.getElementById("bag-left" + id).setAttribute("hidden", true);

    document.getElementById("bag-done" + id).removeAttribute("hidden");
    document.getElementById("bag-input" + id).removeAttribute("hidden");
  }

  const alertMessage = document.getElementById("alertMessage");
  if (alertMessage.innerText.trim() !== "") {
    setTimeout(() => {
      alertMessage.innerText = "";
    }, 1000);
  }

  const bagAlertMessage = document.getElementById("bagMessage");
  if (bagAlertMessage.innerText.trim() !== "") {
    setTimeout(() => {
      bagAlertMessage.innerText = "";
    }, 1000);
  }
</script>
<%- include('partials/footer.ejs'); -%>
